@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

body {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 100vh;
}

.row {
	width: 100%;
	justify-content: center;
}

.card {
	padding: 2em;
	margin: 10px;
}
.form-item {
	margin: 20px;
}
